@import '../base/all';
@import '../helpers/mixins';
@import '../components/movie-list';

.fll-banner-center{
	width: $app-witdh;
	margin-right: auto;
	margin-left: auto;
}
.fll-banner{
	width: 100%;
	background: $green;
	height: 100px;
}
.fll-app{
	max-width: $app-witdh; 
	margin-right: auto;
	margin-left: auto;
}
.fll-banner__title{
	font-size: 2em;
	font-weight: bold;
	color: $white;
}
.fll-banner__description{
	color: $white;
}