.fll-movie-list{
}
.fll-movie__search{
	position: relative;
	height: 40px;
	border: 1px solid #ccc;
	margin-top: 10px;
	margin-bottom: 10px;
	input{
		width: 100%;
		height: 100%;
		border: 0;
		padding: 10px;
		color: #666;
	}
	button{
		position: absolute;
	    right: 0;
	    top: 0;
	    background-color: $green;
	    border: 0;
	    height: 100%;
	}
}
.fll-movie-list-container{
	padding-right: 20px;
	padding-bottom: 20px;
	width: 25%;
}
.fll-movie-list-wrap{
	// border: 1px solid #ccc;
}
.fll-movie-list-item__text{
	padding: 15px;
}
.fll-movie-list-item__title{
	font-size: 1rem;
	font-weight: bold;
}
.fll-movie-list-item__poster{
	height: 300px;
	img{
		width: 100%;
		height: 100%;
	}
}
.fll-movie-list-item{
	border: 1px solid #eee;
	animation-name: slide;
    animation-duration: 1s;
    height: 460px;
    .fll-no-image{
    	background-color: #ccc;
    }
    will-change: transform, opacity;
}

@keyframes slide {
	0%{
		@include transform(translateY(50px) translateX(20px));
		opacity: 0;
	}
	100%{
		@include transform(translateY(0px) translateX(0px));
		opacity: 1;
	}
}
